<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSM_NBIoT_Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSM_NBIoT_Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GSM_NBIoT_Module.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value> V1.9.3</value>
            </setting>
            <setting name="programName" serializeAs="String">
                <value>GSM_NBIoT_Module</value>
            </setting>
        </GSM_NBIoT_Module.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GSM_NBIoT_Module.Properties.Settings>
            <setting name="Standard" serializeAs="String">
                <value />
            </setting>
            <setting name="Enhanced" serializeAs="String">
                <value />
            </setting>
            <setting name="lastConfiguration" serializeAs="String">
                <value />
            </setting>
            <setting name="terminal_LastCOMPortNo" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="terminal_LastBandRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="terminal_LastDataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="terminal_LastParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="terminal_LastStopBit" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="terminal_LastMode" serializeAs="String">
                <value>Text</value>
            </setting>
        </GSM_NBIoT_Module.Properties.Settings>
    </userSettings>
</configuration>